<div id="mu-improver">
    <div id="mu-improver-controls">
        <p>Mangaupdates Overlay Extension</p>
        <p>v1.2.0</p>
        <p>Visit the GitHub page for README and License</p>
        <p>https://github.com/MilesWilford/MangaUpdatesImprover</p>
    </div>
    <div id="mu-improver-interface-wrapper">
	    <div id="mu-improver-release-listing">
	        <% for (var i = 0; i < content["dates"].length; i++) { %>
	            <h1><time><%=content["dates"][i]%></time></h1>
	            <hr />
	            <table>
	                <% for (var j = 0; j < content["tables"][i].length; j++) { %>
	                    <tr style="<%=content['colorFilters'][i][j][0]%>">
                    		<td class="mu-imp-manga-name"><%=content['tables'][i][j][0]%></td>
                    		<td class="mu-imp-chapter-number"><%=content['tables'][i][j][1]%></td>
                    		<td class="mu-imp-group-links"><%=content['tables'][i][j][2]%></td>
	                    </tr>
	                <% } %>
	            </table>
	        <% } %>
	    </div>
	    <div id="mu-improver-content-box"></div>
    </div>
</div>