#mu-improver {
    position: absolute;
        top: 0;
        left: 0;
    text-align: left;
}

#mu-improver-controls {
    border: thin solid black;
    border-radius: 8px;
    margin: 1.4em 1.4em 0 0;
    padding: 0 1.4em;
    position: fixed;
        top: 0;
        right: 0;
    background-color: #DDD;
    z-index: 150;
}


#mu-improver-release-listing { float: left; }

    #mu-improver-release-listing h2 {
        font-size: 16px;
        padding: 0;
    }
    
    #mu-improver-release-listing .left {
        clear: both;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        padding-right: 1em;
    }
    
    #mu-improver-release-listing table {
        font-size: 12px;
        text-align: center;
    }
    
    #mu-improver-release-listing tr {
    	position: relative;
        border-bottom: thin solid black;
        display: block;
    }
    
    #mu-improver-release-listing tr:nth-of-type(2n) { background-color: #DDD; }
    
    .mu-improver-color-filter-marker {
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	right: -20px;
    	width: 20px;
    	z-index: 130;
    }
    
    #mu-improver-release-listing tr:hover {
        background-color: #FFF;
    }
    
        #mu-improver-release-listing tr.tr-clicked {
            background-color: #CCC;
        }
        
        #mu-improver-release-listing tr.tr-followed {
            background-color: #FC912F;
        }
        
            #mu-improver-release-listing tr.tr-followed a:hover {
                color: #000;
            }
    
    #mu-improver-release-listing td:first-child {
        text-align: right;
        width: 200px;
    }
    
    #mu-improver-release-listing td:nth-child(2) {
        width: 80px;
    }
    
    #mu-improver-release-listing td:last-child {
        text-align: left;
        width: 160px;
    }
    
    #mu-improver-content-box {
        border-left: thin solid black;
        height: 100%;
        overflow: scroll;
        position: fixed;
            top: 0;
            left: 470px;
    }
    
        #mu-improver-content-box td.series_content_cell { width: auto; }
        
        #mu-improver-content-box .series_content_cell table { display: none; }
        
        #mu-improver-content-box .releasestitle { clear: both; }
        
        #listContainer { display: none; }
        
        .sContainer {
            float: left;
            width: 250px;
            clear: none;
            margin-left: 3em;
        }
        
        .sCat:first-child { text-align: center; }