body { background-color: white; }

#mu-imp {
    position: absolute;
        top:    0;
        left:   0; 
        right:  0;
        bottom: 0;
    padding-bottom: 40px;
}

#mu-imp-controls {
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    height: 40px;
    
    border-radius: 8px;
    background-color: #DDD;
    
    z-index: 100;
    overflow: hidden;
}

    #mu-imp-controls p {
        display: inline-block;
        font-size: 10px;
    }

#mu-imp-interface-wrapper {
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 40px;
    display: flex;
}

#mu-imp-release-listing {
    min-width: 350px;
    width: 30%;
    
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    
    -webkit-box-shadow: 5px 0 10px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 5px 0 10px 0 rgba(0,0,0,0.2);
            box-shadow: 5px 0 10px 0 rgba(0,0,0,0.2);
}

    #mu-imp-release-listing h1 {
        font-size: 14px;
    }
    
    #mu-imp-release-listing ul { padding: 0; }
    #mu-imp-release-listing li { list-style: none;  }
    
    .mu-imp-release {
        text-align: left;
        padding-right: 120px;
        display: flex;
        align-items: center;
        padding: 1em;
        border-top: 3px solid white;
        
        transition: background-color 0.25s;
    }
    
    .mu-imp-release:first-of-type { border: 0; }
    
    .mu-imp-release:nth-of-type(2n)  { background-color: #DDD; }
    .mu-imp-release:hover            { background-color: #EEE; }
    .mu-imp-release.release-clicked  { background-color: #CCC; }
    .mu-imp-release.release-followed { background-color: #ffd59a; }
    
    .mu-imp-release-info {
        flex: 2;
        padding-right: 1em;
    }
    
    
    .mu-imp-release-options {
        width: 120px;
    }
    
    .mu-imp-release-options dt {
    	font-weight: bold;
    }
    
    .mu-imp-group-links { 
    	margin: 0;
    	padding: 0;
    }
    
    .mu-imp-release h2 {
        margin: 0;
        font-size: 12px;
    }
    
    .mu-imp-release .link-clicked {
    	text-decoration: line-through;
    }
    
    .mu-imp-release p {
        margin: 0;
        font-size: 12px;
    }
    
    .mu-imp-release .small {
        font-size: 12px;
    }
    
    #mu-imp-paginator {
        font-size: 12px;
    }
    
    #mu-imp-paginator:before {
        content: "«"
    }
    
    #mu-imp-paginator:after {
        content: "»"
    }
    
    #mu-imp-paginator li {
        display: inline-block;
        padding: 0 0.5em;
    }
    
    #mu-imp-paginator .mu-imp-current-page { 
        font-weight: bold;
        font-size: 14px;
        pointer-events: none;
    }

#mu-imp-content-box {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* The following css is to hide and reflow stuff within the content box */

#mu-imp-content-box td.series_content_cell { width: auto; }
    
    #mu-imp-content-box .series_content_cell table { display: none; }
    
    #mu-imp-content-box .releasestitle { clear: both; }
    
    #listContainer { display: none; }
    
    .sContainer {
        float: left;
        width: 250px;
        clear: none;
        margin-left: 3em;
    }
    
    .sCat:first-child { text-align: center; }